### Java template
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

.idea/
*.iml

# Package Files #
*.jar
*.war
*.ear
target/

# virtual machine crash logs
hs_err_pid*

*.db
gateway/logs/
logs

